@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    margin: 0;
    background-color: black;
    font-family: "Inter", serif;
}

#cal-title{
    color: white;
    font-size: 40px;
    padding-left: 20px;
    font-family: Helvetica, sans-serif;
    letter-spacing: 1px;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
}

.cal-container{
    height: 80vh;
    
}

.cal-display{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    background-color: black;
    height: 15vh;
    color: white;
    font-size: 60px;
}

.cal-buttons{
    padding-top: 10px;
    padding-left: 10px;
}

button{
    color: white;
    background-color: #2A2A2C;
    border: 0;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-size: 35px;
    margin-left: 5px;
    margin-top: 10px;
}

.lg{
    background-color: #5C5C5F;
}

.or{
    background-color: #FF9F0A;
}

#cal-footer, a{
    color: #5C5C5F;
    font-size: 14px;
    text-align: end;
    padding-right: 5px;
}